


/* 건너뛰기 링크(접근성) */
.skipnavi {position:absolute; left:0; top:-50px; text-indent:-9999px; font-size:0; width:100%; z-index:999; }
.skipnavi li a:focus, 
.skipnavi li a:active {position:absolute; left:0; top:50px; display:block; width:100%; padding:5px 0; text-align:center; text-indent:0px; font-size:12px; font-weight:bold; background:#f2f2f2;}

* {margin: 0 ; padding: 0; text-decoration: none; list-style: none; _color: black;}

 { height: 100%;}
#wrap { width: 100%;  height: 100%; margin: 0 auto;}
#hince_movei {width: 100%; height: 800px; top: 0; }
#hince_movei video{ width: 100%; height: 100%; z-index: -9999;}

html,body{min-width: 1024px;  height:100%; padding-top: 30px;} 
.nav-up { top: -60px;}
        
        
        
/*search*/
    search {
        width: 100%;
        display: none;
        z-index: 999999;
        background:
    }

    search #info {
        width: 100%;
        height: 300px;
        background: #eee;
         
        opacity: 0.7;
        position: relative;
    }
    search #info .text_h {
        width: 80%;
        height: 150px;
        background: #eee;
        position: absolute;
        left: 10%;
        top: 20%;
    }
    search #info .text_h p {
        font-size: 25px;
        margin: 20px;
        color: #4f645a;
        font-weight: bold;
    }
    search #info .text_h .frm {
        margin: 20px;
        width: 90%;
        border-bottom: 3px solid #fff;
    }
    search #info .frm .input_h { 
        width:100%;
        }
    search #info .frm .input_h input[type="search"] {
        border: 0;
        width: 95%;
        height: 25px;
        font-size: 14px;
        background: #eee;
        color: #4f645a;
        }
    search #info .frm .input_h button {
        direction: block;
        width: 0px;
        height: 0px;
        border: 0;
        
    }
    search #info .frm .input_h a {
        width: 20px;
        height: 20px;
        z-index: 999999;
        _text-indent: -99999px; 
    }

    search #info .frm .input_h input[type="search"]:hover { opacity: 0.5; }

        
/* 헤더 */
        header {width: 100%; top: 0; left: 0; height: 60px; position: absolute; text-align: center;  position: fixed; z-index: 50; box-sizing:border-box; transition: top 0.2s ease-in-out; background: rgba(83,134,53,0.5); }
    
        #header nav {width: 100%; height: 60px; }
        #header p { float: left; width: 10%;  height: 60px; font-size: 30px; margin-left: 10px; line-height: 2;}
        #header p a {color: #fff;}
        #header nav p:hover { opacity: 0.3; transition: all 0.5s;}
        
        #header .t_nav {width: 80%;  height: 60px; font-size: 35px; text-align: center;float: left;}
        #header .t_nav ul li { 
            display: block;
            float: left;
            width: 20%;
            padding: 17px;
            font-size: 15px;
            transition: all 0.5s;
            font-weight: bold;
            letter-spacing: 3px; 
            box-sizing: border-box;
            }
        #header .t_nav ul li a {color: #fff; line-height: 2;}
        
        #header >nav > .t_nav> ul> li:nth-child(1) {margin-left: 100px;}
        nav li:hover a {opacity: 0.9; border-bottom: 10px solid #6d947f; transition: all 0.5s;}
        
/*header icon*/
        #header #top_img { float: right; width: 9%; height: 60px; line-height: 2.5; }
        #header #top_img a { margin-right: 30px;  font-size: 25px; color: #fff;}
        #header #top_img a:hover { opacity: 0.3; transition: all 0.5s;}
#top_img a {color: #fff;}
/*container*/
        #container {width: 100%; height: 1400px; position: relative; } 
        #container #top {  position: relative; width: 100%; height: 1500px; margin: 0 auto; _overflow: hidden; }
        #container #top #IMAGE { opacity: 0;}
        #container #top .img1 {position: absolute; left: 42%; top: -10%; z-index: 9; width: 500px; height: 700px; box-shadow: 8px 15px 10px rgba(0,0,20,0.3);}
        #container #top .img2 {position: absolute; left: 30%; top: 20%; z-index: 10; width: 400px;height: 500px; box-shadow: 8px 15px 10px rgba(0,0,20,0.3);}
        #container #top .img3 {position: absolute; left: 50%; top: 25%;  z-index: 8; width: 550px; height: 800px; box-shadow: 8px 15px 10px rgba(0,0,20,0.3);}
        #container #top .img4 {position: absolute; left: 0%; width: 100%; height: 500px; top: 50%;  z-index: 7; }
        
        /*텍스트*/
        
        #container #top #t_text { z-index: 20; }
        #container > #top > .text01  { position: absolute; width: 400px; height: 150px; left: 30%; top: 60px; }
        #container > #top > .text01 > span { font-size: 30px; color: gainsboro; width: 300px; margin-left: 10px;}
        #container > #top > .text01 > p { font-size: 20px; color: gainsboro;  width: 300px;  margin: 10px; height: 20px; }
        
        #container > #top > .text02  { position: absolute; width: 400px; height: 150px; left: 50%;  top: 600px; }
        #container > #top > .text02 > span { font-size: 30px; color: gainsboro; width: 300px; margin-left: 10px;}
        #container > #top > .text02 > p { font-size: 20px; color: gainsboro;  width: 300px; height: 20px;  margin: 10px;}
        
        #container > #top > .text03  { position: absolute; width: 400px; height: 150px; left: 30%;  top: 850px; }
        #container > #top > .text03 > span { font-size: 30px; color: gainsboro; width: 300px; margin-left: 10px;}
        #container > #top > .text03 > p { font-size: 20px; color: gainsboro;  width: 300px; height: 20px;  margin: 10px;}
        
/*       텍스트 호버*/
        #container > #top #t_text:hover span { color: black; opacity: 0.9; transition: all 0.9s; }
        #container > #top #t_text:hover p { color: black; opacity: 0.9; transition: all 0.9s; }
        
        
        
/*       미들 img */
        #slidebar {position: relative; width: 100%; top:100px; height: 400px  }
        #slidebar #middle { position: relative; margin: 0 auto;width: 45%;  text-align: center; }
        #slidebar #middle .glowbox { width: 100%;}
        
        #slidebar #middle .m_text { position: absolute; width: 89%; height: 30px; top: 230px;  padding-top: 10px;} 
        #slidebar #middle .m_text a { color: white; padding: 10px; padding-left:40px; padding-right:40px; font-weight: bold; border: 3px solid white; }
        
        #slidebar #middle .m_text:hover a {color: white; opacity: 0.9; border-bottom: 3px solid #ddd; transition: all 0.5s; }

        
/*        아티클 슬라이드 이미지 */
        #article { display: inline-block; position: relative;  width: 100%; height: 550px; top:300px; text-align: center; }

        #article .slide_img {
            margin: 0 auto;
            position: relative;
            display: block;
            width: 100%;
            height: 550px;
            animation:myani 10s infinite; 
            }
        
            @keyframes myani { 
            0% {background: url(../img/layer10.png) no-repeat; width: 45%; height: 550px; }    
            33.33333% {background: url(../img/layer11.png) no-repeat; width: 45%; height: 550px;}
            66.66666% {background: url(../img/layer12.png) no-repeat; width: 45%; height: 550px;}
            99.99999% {background: url(../img/layer10.png) no-repeat; width: 45%; height: 550px;}    
           }

        
        
/*  푸터*/
        
        #footer { position: relative; width: 100%; height: 500px; background: #717f65;  top: 500px; font-size: 16px;}
        
        #footer #PARTNERSHIP { position: absolute;  width: 30%; height: 200px; top: 70px; left: 200px;}
        #footer #PARTNERSHIP > h3 { margin-bottom: 10px; color: white;}
        #footer #PARTNERSHIP > span {color: white; }
        #footer #PARTNERSHIP > p {margin-top: 10px; margin-bottom: 10px; color: white;}
        
        #footer #FLAGSHIP_STORE {position: absolute;  width: 30%; height: 200px; top: 250px; left: 200px; }
        #footer #FLAGSHIP_STORE > h3 { margin-bottom: 10px; color: white; }
        #footer #FLAGSHIP_STORE > span { color: white;}
        #footer #FLAGSHIP_STORE > p {margin-top: 10px; margin-bottom: 10px; color: white;}
        
        
        #footer #b_link {position: absolute;  width: 30%; height: 300px;  top: 50px; right: 5%; }
        #footer #b_link .link_img { position: absolute; width: 50%; _text-align: center; }
        #footer #b_link .link_img a img { margin: 10px; }
        
        #footer #b_link .copyright { position: absolute; width: 70%; height: 150px;  top: 110px;  }
        #footer #b_link .copyright > h3 {margin-left: 10px; margin-bottom: 10px; color: white;}
        #footer #b_link .copyright > h1 > a {margin: 10px; color: white; }
        #footer #b_link .copyright > p{ margin-bottom: 10px; margin-top: 10px;margin-left: 10px; color: white;}
        
        #footer >p { position: absolute; top: 450px; width: 20%; left: 40%;  color: white;}
        
            #footer #b_link .copyright > h1:hover a  {  color: darkseagreen; opacity: 0.5; transition: all 0.3s;  }
        
/*        카카오톡 상담 */
        
        #kakao { position: fixed;  z-index: 99999; right: 30px; bottom: 50px;}

        #kakao .k_btn { width: 100px; height: 100px;  opacity: 0.8;}
        
        #kakao img:hover { opacity: 100; transition: all 0.5s;  } 카톡 밑에 그림자 넣기  
        



        #container div.onview{opacity: 0; transition: 0.3s;}
        #container div.onview.mactive{opacity: 1; transform: translateX(100px);}
        #galleryWrap {position: absolute; width: 100%; left: 0;}
        #galleryWrap ul li { float: left; widows: 30%;}
        #galleryWrap img {position: relative; widows: 80%;}
        #galleryWrap h1 {font-size: 20px;}
    